
snippet Tem
import { Template } from "meteor/templating";

import "./$1.html";
import "./$1.scss";

Template.$1.onCreated(function() {
});

Template.$1.onRendered(function() {
});

Template.$1.helpers({
});

Template.$1.events({
});

endsnippet
